<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppSanta/padre.html"%}
    {% load static %}
    {% block contenidoquecambia %}
    <h1>Lista Cliente</h1>

    <a href={% url 'NuevoCliente' %}>Nuevo Cliente</a>
    {% for cliente in cliente %}
       <li> Nombre:{{cliente.nombre}}
          <p>
            <a href="{% url 'DetalleCliente' cliente.pk % }">Ver</a>
            <a href="{% url 'EditarCliente' cliente.pk % }">Editar</a>
            <a href="{% url 'BorrarCliente' cliente.pk % }">Borrar</a>
     
       
           </p>
       </li>
    {%endfor %}
    {% endblock contenidoquecambia %}
</body>
</html>