





def login_request(request):
     #msg_login = ""
     if request.method == "POST":
          form = AuthenticationForm(request, data = request.POST)
          print(form)
          if form.is_valid():
               usuario = form.cleaned_data.get("username")
               contraseña = form.cleaned_data.get("password")

               user = authenticate(username=usuario , password=contraseña)
               
               if user is not None:
                    login (request , user)
                    return render (request, "AppSanta/index.html" , {"mensaje":f"Has iniciado sesión. Bienvenido {usuario}"})
               else:
                    form = AuthenticationForm()
                    return render (request, "user/login.html" , {"mensaje": f"Error, datos incorrectos", "form": form})
               
          #msg_login = "Usuario o contraseña incorrectos"
          else: 
               return render(request, "AppSanta/index.html", {"mensaje": "Error, formulario inválido"})
     
     form = AuthenticationForm()                                                               
     return render(request, "AppSanta/login.html", {"form": form})